h1 {
  color: purple;
  text-align: center;
}

.heading-2 {
  color: blue;
  text-align: center;
}

.heading-3 {
  color: green;
  text-align: center;
}

.heading-4 {
  color: orange;
  text-align: center;
}

.heading-5 {
  color: pink;
  text-align: center;
}

.heading-6 {
  color: brown;
  text-align: center;
}

#auto-suggest {
  color: red;
  text-align: center;
}

.paragraph {
  color: black;
  text-align: left;
  border: 1px solid red;
  padding: 10px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #361319;
  border: 1px solid #6D3A3C;
  padding: 30px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  transition: background-color 0.3s;
  
}

.navbar a:hover {
  background-color: #6D3A3C;
  transform: scale(1.1);
}
body {
  background-color: #F5F5F5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}